@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

#dash {
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
  
    font-family: 'Montserrat',
    sans-serif;

    .conts {
      display: flex;
      flex-direction: row;
      height: auto;
      //margin-bottom: 2px;
      overflow: auto;
    }

    .side-nav {
      height: auto;
      margin-right: 2px;
      top: 0px;
      background: linear-gradient(135deg, darkblue, white);
      padding: 10px;
      width: 20%;
      position: block;
      border-radius: 0px 20px 0px 0px;
    }

    .side-nav h2{
      display: block;
      padding: 50px 20px 30px 20px;
      color: #fff;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
    }

    span {
      color:  #dc2f02;
      font-size: 35px;
    }
    .side-nav a {
      text-decoration: none;
      color: darkgrey;
      display: block;
      font-size: 15px;
      text-align: center;
      letter-spacing: 2px;
      text-transform: uppercase;
      padding: 15px;
      margin: 10px;
      border: 2px dashed #dc2f02;
    }

    .side-nav a:hover {
      color: #dc2f02;
      margin-left: 20px;
      margin-right: 20px;
      transition: 0.4s;
    }

    .side-nav button {
      text-decoration: none;
      background: rgba( 255, 255, 255, 0.10 );
      box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
      backdrop-filter: blur( 2.0px );
      -webkit-backdrop-filter: blur( 2.0px );
      border-radius: 10px;
      border: 1px solid rgba( 255, 255, 255, 0.18 );
      color: darkgrey;
      display: block;
      font-size: 15px;
      text-align: center;
      letter-spacing: 2px;
      text-transform: uppercase;
      padding: 15px;
      margin: 10px;
    }

    button:hover, button:focus {
    color: #dc2f02;
    outline: none;
    margin-left: 20px;
    transition: 0.4s;
    }

    button:active {
      transform: scale(0.9);
    }

    .table {
      width: 80%;
      height: auto;
      margin: 10px;
      align-items: column;
      display: block;
    }

    .lead-pic {
      position: cover;
      width: 100%;
      margin-right: 2px;
    }

    #ver {
      background-color: #2f2f2f;
      padding: 5px 0;
      text-align: center;
      color: white;
      width: 100%;
    }
}