@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
#exam {
    .righty {
        width: 90%;
        height: 610px;
        margin-left: 6px;
        padding: 80px;
        display: block;
        background: rgba( 255, 255, 255, 0.50 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 1.0px );
        -webkit-backdrop-filter: blur( 1.0px );
        border-radius: 10px;
        

    .qno {
        color: #2f2f2f;
        font-weight: bold;
        letter-spacing: 1.2px;
        margin-bottom: 20px;
    }

    .opt {
        padding: 10px;
        border-radius: 0px;
        width: 80%;
        padding: 10px;
        margin: 5px;
        cursor: pointer;
        border: 1px solid red;
        transition-duration: 0.2s;
    }

    .opt:active {
        transform: scale(0.95);
    }

    .opt:focus {
        outline: none;
        border: 3px solid #4caf50;
        background-color: #4caf50;
    }

    .opt:hover {
        border: 3px solid #4caf50;
        background-color: #4caf50;
        color: #000;
        box-shadow: 5px 5px 5px rgba(0,0,0,0.24), 5px 5px 5px rgba(0,0,0,0.19);
    }
}
}