@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

#exam {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  font-family: 'Montserrat',
  sans-serif;

  #end {
    border: 2px solid #dc2f02;
    background-color: #fff;
    border-radius: 40px;
    font-size: 13px;
    font-weight: bold;
    padding: 10px;
    margin: 5px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
  }

  #end:active {
		transform: scale(0.95);
	}

	#end:focus {
		outline: none;
	}

  header {
    position: relative;
    z-index: 1000;
    width: 100%;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    height: 25px;
    padding: 35px 100px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 5px 10px 0px #aaa;

  .logo {
    color: #2f2f2f;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
  }

  ul {
    position: relative;
    display: flex;
  }

  ul li {
    position: relative;
    list-style: none;
  }

  ul li a {
    position: relative;
    display: inline-block;
    margin: 0 10px;
    color: #dc2f02;
    text-decoration: none;
  }
}

  #timer {
    margin: 10px;
    padding: 3px;
    border-radius: 25px;
    background: #fff;
    box-shadow:  2px 2px 2px, 
             -2px -2px 2px #6aff72;
    color: red;
  }


  #quest {
    display: flex;
    background-color:#12ec98;
  }

  #quest div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 30px;
    font-size: 15px;
  }

  #lefty{
    width: 30%;
    max-height: 590px;
    display: flex;
    overflow: auto; 
  }

  #lefty a {
    color: #2f2f2f;
    background-color: transparent;
    text-decoration: none;
    padding-bottom: 5px;
  }

  #righty {
    width: 80%;
    max-height: 590px;
    position: relative;
    float: right;
  }

  section {
    margin: 10px;
  }

  section ul li {
    list-style: none;
  }

  .opt {
    padding: 10px;
    border-radius: 0px;
    width: 80%;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid red;
    transition-duration: 0.2s;
  }

  .opt:active {
		transform: scale(0.95);
	}

	.opt:focus {
    outline: none;
    border: 3px solid #4caf50;
    background-color: #4caf50;
	}

  .opt:hover {
    border: 3px solid #4caf50;
    background-color: #4caf50;
    color: #000;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.24), 5px 5px 5px rgba(0,0,0,0.19);
  }

  #ver {
    background-color: #2f2f2f;
    padding: 5px 0;
    text-align: center;
    color: white;
    float: down;
  }

}